.idea/*
.htaccess
.vagrant/*
*.log
sitemap.xml
sitemap.xml.gz
wordpress/*
!wordpress/wp-content
wordpress/wp-content/*
!wordpress/wp-content/plugins
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/woocommerce-agms

wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
